@import '~bulma/sass/utilities/_all';
$pink: #ffb3b3;
$default: #ffb3b3;
$primary: $pink;

$pagination-current-color: #4a4a4a;
$pagination-active-color: #ffd3d4;
$pagination-current-background-color: #ffd3d4;
$pagination-current-border-color: #ffd3d4;
$pagination-disabled-background-color: white;
$menu-item-active-background-color: #ffd3d4;

@import '~bulma';
@import '~buefy/src/scss/buefy';